<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="_templates"                 returnType="string"           >Sitecore.ContentSearch.ComputedFields.AllTemplates, Sitecore.ContentSearch</field>
            <field fieldName="_ancestors"                 returnType="guidCollection"           >Projects.Reboot.Core.Indexer.Ancestors, Projects.Reboot.Core</field>
            <field fieldName="_alltemplates"                 returnType="guidCollection"           >Projects.Reboot.Core.Indexer.AllTemplates, Projects.Reboot.Core</field>

            <field fieldName="daterange_month"                 storageType="no"  indexType="untokenized">Projects.Reboot.Core.Indexer.DateRangeMonthFacet,Projects.Reboot.Core</field>
            <field fieldName="daterange_week"                  storageType="no"  indexType="untokenized">Projects.Reboot.Core.Indexer.DateRangeWeekFacet,Projects.Reboot.Core</field>
            <field fieldName="daterange_year"                  storageType="no"  indexType="untokenized">Projects.Reboot.Core.Indexer.DateRangeYearFacet,Projects.Reboot.Core</field>
            <field fieldName="daterange_hour"                  storageType="no"  indexType="untokenized">Projects.Reboot.Core.Indexer.DateRangeHourFacet,Projects.Reboot.Core</field>
            <field fieldName="__createdtohourresolution"       storageType="no"  indexType="untokenized">Projects.Reboot.Core.Indexer.HourResolutionField,Projects.Reboot.Core</field>

          </fields>

          <virtualFieldProcessors hint="raw:AddVirtualFieldProcessor">
            <virtualFieldProcessor fieldName="daterangehourresolution" type="Sitecore.Examples.DateRangeFieldProcessor, Sitecore.ContentSearch" />
          </virtualFieldProcessors>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>