<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="Website:DiscoverModels" type="Projects.Reboot.Core.Commands.DiscoverModels,Projects.Reboot.Core"/>
    </commands>
    <!-- EVENTS -->
    <events timingLevel="custom">
      <event name="item:saved">
        <handler type="Projects.Reboot.Core.EventHandlers.ModelImportHandler, Projects.Reboot.Core" method="OnItemSaved"></handler>
      </event>
      <event name="item:deleted">
        <handler type="Projects.Reboot.Core.EventHandlers.ModelImportHandler, Projects.Reboot.Core" method="OnItemDeleted"></handler>
      </event>
    </events>
  </sitecore>
</configuration>
