<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Need this patch to structure items in 3 levels instead of 5 -->
      <setting name="BucketConfiguration.DynamicBucketFolderPath">
        <patch:attribute name="value">Projects.Reboot.Core.Buckets.CustomFolderPath, Projects.Reboot.Core</patch:attribute>
      </setting>
    </settings>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
        </add> 
      </providers>
    </linkManager>
  </sitecore>
</configuration>