@using Glass.Mapper.Sc.Fields
@using Glass.Mapper.Sc.RenderField
@using Projects.Common.Glass
@using Projects.Models.Glass.Reboot.Items
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<CastMember>>
@if (Model.Any())
{
    <div class="row">
        <div class="col-lg-12">
            <h2>
                Cast
            </h2>
        </div>
        @foreach (var castMember in Model)
        {
            Person cm = castMember.GetLinkedItem<Person, CastMember>(castMember.Person);
            if (cm == null) { continue; }
            <div class="col-sm-2 col-xs-4">
                @using (BeginRenderLink(cm, c => c.GetInternalLink()))
                {
                    @Editable(cm, c => c.Image, new ImageParameters { Class = "img-responsive", MaxHeight = 100 })
                    <h4>
                        @Editable(cm, c => c.Title)
                        <small class="row">
                            @Editable(castMember, c => c.Character)
                        </small>
                    </h4>
                }
            </div>
        }


    </div>

}
