<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.;Initial Catalog=RebootSitecore_core;Integrated Security=True" />
  <add name="master" connectionString="Data Source=.;Initial Catalog=RebootSitecore_master;Integrated Security=True" />
  <add name="web" connectionString="Data Source=.;Initial Catalog=RebootSitecore_web;Integrated Security=True" />
</connectionStrings>