@using Projects.Models.Glass.Reboot.Items
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Trailer>
<div class="videoWrapper">
<iframe width="100%;" height="250px" src="http://www.youtube.com/embed/@Model.Source?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
    </div>
